<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>hanguk.ipad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>hanguk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A71C3191C04456B00604826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A71C32C1C04456B00604826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A71C3371C04456B00604826</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA1F5AD1BDD1D590031FE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA1F5C11BDD1D590031FE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AA1F5CC1BDD1D5A0031FE17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
